body {
    background-color: #ffebcd;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 900px){
    #form_group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
    }
}

#navigator {
    color: #fff;
    padding: 10px;
    background-color: #a52a2a;
}

#navigator > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

#navigator > ul > li {
    margin: 0 10px;
    padding: 10px;
}

#navigator > ul > li:hover {
    background-color: #f5cac3;
    border-radius: 5px;
    padding: 10px;
}


#navigator > ul > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

#main_form  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
}

#main_form > div {
    padding: 10px;
}

.form_group > label {
    font-size: 20px;
    width: 100%;
}


#main_form > div > input {
    width: 80%;
    font-size: 20px;
}

.form_radio_label {
    font-size: 20px;
}

.form_group {
    border: 1px solid #f28482;
    padding: 5 !important;
}

#message_form_group {
    padding: 10px;
}

#message {
    width: 100%;
}